<!--Content for top div-->

<div class="top-content">
  <div class="container">
    <div class="row content">
      <div class="col-md-6 col-sm-6 col-xs-7 call-out">
        <h1>Baise</h1>
        <p>
          UI Designer & Developer
        </p>
        <small>Lover and creator of dope {$#!+}</small>
      </div>
  
      <div class="logo col-md-6 col-sm-6 col-xs-5 pull-right img-responsive">
        <img src= "/assets/img/logo.svg" width="100%"></img>
      </div>
    </div>
  </div>
</div>







