<footer class="footer">
  <div class="row container">
    <div class="contact col-lg-4">
      <p>Feel free to get <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top"><span style="color: #cccccc">@</span></a> me.</p>
    </div>
    
     <div class="contact col-lg-4">
      <p>Feel free to get <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top"><span style="color: #cccccc">@</span></a> me.</p>
    </div>
    
     <div class="contact col-lg-4">
      <p>Feel free to get <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top"><span style="color: #cccccc">@</span></a> me.</p>
    </div>
    
  </div>
</footer>
