<!-- Skills -->
<div class="middle-content-2">
  <div class="container">
    <div class="row content">
      <div class="col-md-4">
        <h1><i class="fa fa-music fa-2x"></i></h1>
        <h2>Music</h2>
        <p>I've been a musician for many years and I've had the pleasure of playing with some of the best musicians in the world. </p>
      </div>
      
      <div class="col-md-4">
        <h1><i class="fa fa-object-group fa-2x"></i></h1>
        <h2>Design</h2>
        <p>Design is what tells the story of a brand. I love creating and exploring different mediums of design and branding.</p>
      </div>
      
      <div class="col-md-4">
        <h1><i class="fa fa-code fa-2x"></i></h1>
        <h2>Development</h2>
        <p>Ruby on Rails developer. Seeing a website go from design to deploy is pure art.</p>
      </div>
      
    </div>
  </div>
</div>